@import "tailwindcss";

/* @font-face {
    font-family: "Mongolian Baiti";
    src: local("Mongolian Baiti"), url("https://example.com/MongolianBaiti.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
